.fluttercard {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 42%;
    bottom: 30%;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: azure;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    text-align: center;
}

.card:active {
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    cursor: pointer;
    background-color: azure;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    cursor: pointer;
    transform: rotateY(180deg);
}